<!DOCTYPE html>
<html lang="pl">

<head>
  <title>Baza Filmów - logowanie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body style="background-color: lightgrey;">

  <div class="text-center" style="margin-top: 30vh; margin-left: 40vw; margin-right: 40vw;">
    <h2>Zaloguj się</h2>

    <form action="/main_page" method="post">

      <div class="mb-3 mt-3" style="width: 20vw;">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
      </div>

      <div class="mb-3 mt-3" style="width: 20vw;">
        <label for="password">Haslo:</label>
        <input type="password" class="form-control" id="password" placeholder="Haslo" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Zaloguj</button>

      <a href="/register">
        <button type="button" class="btn btn-primary">Rejestracja</button>
      </a>

    </form>
  </div>
  </body>
  </html>